body {
	margin :0;
	background : #c3d4dc;
	color:  #444;
	text-align:center;
	font-family: 'Noto Serif KR', serif;
}

.pic {
	width: 100%;
}

.textBox {
	font-size: 24pt;
	line-height: 40px;
	background: #fff;
	margin-left:  50%;
	left:  -100px;
	position: absolute;
}

#mainTextBox {
	font-size: 24pt;
	line-height: 60px;
	background: rgba(255,255,255,0.6);
	width: 400px;
	margin-left:  50%;
	margin-top: 50px;
	left:  -200px;
	position: absolute;
}

@media screen and (min-width:512px) and (max-width: 1024px)
{
	body {
		
	}
}
