body {
	margin :0;
	background : #178342;
	color:  #178342;
	text-align:center;
	font-size:30pt;
	line-height:60px;
	font-family: 'Noto Sans KR', sans-serif;
}

span {
	font-family: 'Noto Sans KR', sans-serif;
}

div {
	font-family: 'Noto Sans KR', sans-serif;
}

#mainTextBox {
	margin-top:30px;
}

#textMainTitle {
	margin-top:50px;
}

#textMain {
	font-size:35pt;
	font-weight: 900;
}

#mainIllust {
	margin-top:60px;
	width:100%;
}

#container {
	background : #fff;	
	width:1024px;
	margin:0 auto;
	border:solid 1px;
	padding-bottom:100px;
}

#chapterTitle{
	font-weight: 900;
	margin-bottom:20px;
	margin-top:130px;
	font-size:40pt;
}

.galleryBtn{
	position:absolute;
	width:287px;
	height:800px;
	line-height: 800px;
	color:white;
}

#galleryBtnLeft{
	margin-left:0px;
	text-align: left;
	cursor:pointer;
}

#galleryBtnRight{
	margin-left:687px;
	text-align: right;
	cursor:pointer;
}

.galleryPhoto{
	width:974px;
	height:100%;
	float:left;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

#galleryBox {
	width:974px;
	height:800px;
	margin:0 auto;
	background-color: #178342;
	overflow: hidden;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}

#photoList {
	width:400%;
	height:100%;
	float:left;
	transition-duration:0.8s;
	-webkit-transition-duration:0.8s;

}

.textBox {
	background: #fff;
	margin: auto;
}

#textGreeting {
	margin-top:80px;
}

#mapTextBox {
	text-align: center;
	width:95%;
	margin:auto;
	margin-top:20px;
	font-family: 'Noto Sans KR', sans-serif;
}

#textMap1 {
	line-height:40px;
	font-weight: 700;
	margin-top:50px;
}

#textMap2 {
	font-size: 25pt;
	line-height: 40px;
}

.mapGuide {
	text-align:center;
	margin-left:25px;
	margin-top:20px;
}

.titleMapGuide {
	font-weight: 900;
	margin-top:20px;
}

#map {
	width:974;
	height:500px;
	margin:0 auto;
}

.accountButton {
	width:420px;
	height:110px;
	line-height:100px;
	background-color:#198342;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:30px;
	font-size:30pt;
	color:#fff;
	cursor:pointer;
}

#accountBox {
	margin-top:80px;
	font-size:25pt;
}

.accountListBg {
	display:none;
	position:fixed;	
	width:100%;
	height:100%;
	margin:0 auto;
	top:0;
	left:0;
	right:0;
	z-index:1;
	background-color:#00000050;
}

.accountList {
	position:relative;
	top:50%;
	left:50%;
	width:780px;
	height:800px;
	padding:20px;
	padding-top:30px;
	background-color:#fff;
	transform:translate(-50%, -50%);
	z-index:2;
}

#accountBoxTitle{

}

.accountClose {
	position:relative;
	width:740px;
	height:100px;
	margin:0 auto;
	margin-top:70px;
	line-height: 100px;
	background-color:#198342;
	color:white;
	cursor:pointer;
	z-index:2;
	font-size:30pt;
}

.accountTitle {
	font-weight:900;
}

.accountName {
	margin-bottom:5px;
}

@media screen and (min-width:512px) and (max-width: 1024px)
{
	body {
		
	}
}
